{% extends "layout.html" %}

{% block heading %}
    <title>Python/Flask Apps</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>CSGO Stats: Competitivas</h1>
    <br>
    <h2> Estado </h2>
    <p> Trabajando en ello... Actualmente se pueden enviar partidas con nuestro plugin, pero no se recibe respuesta del estado. Si quereis mandar partidas, una forma de ver si se han insertado es mediante el contador que se ve aquí abajo. Si tras enviar partidas este valor ha cambiado, se puede entender que habéis añadido partidas correctamente.</p>
    <br>
    <h2> ¿Cómo enviar partidas? </h2>
    <p> Explicado más paso a paso en <a href="/help_upload" target="_blank">esta guía.</a> </p>
    <br>
    <h3>Descripción rápida:</h3>
    <p> Descarga y activa el <a href="https://chrome.google.com/webstore/detail/csgo-competitive-matchine/nfjabioikcikngoihhfenimoapadlikd" target="_blank">plugin en Chrome.</a> </p>
    <p> Accede ya logeado a tu sección en: https://steamcommunity.com/id/&ltTU-PERFIL-ID&gt/gcpd/730/?tab=matchhistorycompetitive </p>
    <p> Nota: Si no activaste tu id de perfil de steam, tendrías que acceder a https://steamcommunity.com/profiles/&ltTU-STEAM-ID&gt/gcpd/730/?tab=matchhistorycompetitive </p>
    <p> Usar los botones del plugin para cargar y enviar los datos. Nuestra password pedirla en el telegram.</p>
    <br>
    <h2> Contador partidas actualmente en el sistema: {{total_partidas}}</h2>
    <br>
    <!--<h4 class="text-center">Panel Competitivas</h4>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-10">-->
            <!--<table class="table table-striped" id="principal">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th class="text-center">Nick</th>-->
                        <!--<th class="text-center">KD Ratio</th>-->
                        <!--<th class="text-center">Rounds Won (%)</th>-->
                        <!--<th class="text-center">Headshots (%)</th>-->
                        <!--<th class="text-center">Accuracy (%)</th>-->
                        <!--<th class="text-center">Time played (h)</th>-->
                        <!--<th style="display:none">Steam ID</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--{% for member in all_players %}-->
                    <!--<tr onclick="location='raw/{{member.steam_id}}'">-->
                        <!--<td class="text-center">{{member['nick']}}</td>-->
                        <!--<td class="text-center">{{member['kd_ratio']}}</td>-->
                        <!--<td class="text-center">{{member['rounds_won']}}</td>-->
                        <!--<td class="text-center">{{member['headshots']}}</td>-->
                        <!--<td class="text-center">{{member['accuracy']}}</td>-->
                        <!--<td class="text-center">{{member['time_played']}}</td>-->
                        <!--<td style="display:none">{{member['steam_id']}}</td>-->
                    <!--</tr>-->
                    <!--{% endfor %}-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="col-sm-2">-->
            <!--<input type="text" id="cont" value="" hidden>-->
            <!--<div id="boxes">-->
                <!--{% for member in names %}-->
                 <!--<div class="checkbox">-->
                    <!--<label style="font-size: 1em">-->
                        <!--<input name="names" type="checkbox" value="{{member}}" checked>-->
                        <!--<span class="cr"><i class="cr-icon fa fa-check"></i></span>-->
                        <!--{{member}}-->
                    <!--</label>-->
                <!--</div>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
{% endblock %}