{% extends "layout.html" %}

{% block heading %}
    <title>CSGO Stats: Competitivas</title>
{% endblock %}

{% block content %}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
    var partidas_text = {{partidas|tojson}}
    document.partidas = JSON.parse(partidas_text)
    document.players= JSON.parse({{players_jsondump|tojson}})
</script>

<div class="container">
    <h1>CSGO Stats: Competitivas</h1>
    <!--{{partidas}}-->
    <!-- Grid row -->
    <div class="row mb-4">
      <!-- Grid column -->
      <div class="col">
        <h2 class="font-weight-bold">Estado</h2>
        <p>Trabajando en ello... Actualmente se pueden enviar partidas con nuestro plugin, pero no se recibe respuesta del estado. Si quereis mandar partidas, una forma de ver si se han insertado es mediante el contador que se ve aquí abajo. Si tras enviar partidas este valor ha cambiado, se puede entender que habéis añadido partidas correctamente.</p>
      </div>
    </div>

  <div class="row">

    <div class="col-sm-2">
      <h2 class="text-center">Players</h2>
      <input type="text" id="cont" value="" hidden>
      <div id="boxes_comp">
        {% for member in players %}
        <div class="checkbox">
          <label style="font-size: 1em">
              <input name="names_comp" type="checkbox" value="{{member.steam_id}}" checked>
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              {{member.nick}}
          </label>
        </div>
        {% endfor %}
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-dark">
          <input type="radio" name="radio_modo" id="option_all" autocomplete="off" checked> Any Selected
        </label>
        <label class="btn btn-dark active">
          <input type="radio" name="radio_modo" id="option_any" autocomplete="off"> Selected Only
        </label>
      </div>
    </div>

    <div class="col-sm-3">

      <h2 class="text-center">Maps</h2>
      <input type="text" id="maps" value="" hidden>
      <div id="boxes_maps">
        {% for map in maps %}
        <div class="checkbox">
          <label style="font-size: 1em">
              <input name="names_maps" type="checkbox" value="{{map}}" checked>
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              {{map}}
          </label>
        </div>
        {% endfor %}

        <h3 class="text-center">Time</h3>
        <p>Time filter</p>

        <div class="container">
            <div class="row">
                <div class='col'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                 <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class='col'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker2').datetimepicker();
                    });
                </script>
            </div>
        </div>


        <div class="row">
          <div class="col text-center">
            <h2 class="text-center">More</h2>
            <button type="button" class="btn btn-dark disabled text-center" data-toggle="modal" data-target="#exampleModal">
              See matches
            </button>

            <button type="button" class="btn btn-dark disabled text-center">
              Steam IDs
            </button>

          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-7">

      <div id="chartContainer" class="text-center" style="height: 250px; width: 100%;"></div>
      <h4>DEBUG</h4>
      <p>{{players}}</p>

    </div>




  </div>

    <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 text-center">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col">
          <h3 class="font-weight-bold text-center mb-3">Cómo enviar partidas?</h3>
          <p class="text-center mx-auto mb-5">Explicado más paso a paso en <a href="/help_upload" target="_blank">esta guía.</a></p>
        </div>
      </div>

      <div class="row mb-5">

        <!-- Grid column -->
        <div class="col">
          <h5 class="font-weight-bold mb-3">Plugin</h5>
          <p> Descarga y activa el siguiente plugin si quieres enviar tus partidas al sistema, solo funciona en Chrome. </p>
          <p class="text-center"><a href="https://chrome.google.com/webstore/detail/csgo-competitive-matchine/nfjabioikcikngoihhfenimoapadlikd" target="_blank">Plugin en Chrome.</a> </p>
        </div>
      </div>

      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col">
          <h3 class="font-weight-bold mb-3">Partidas subidas</h3>
          <p>Contador partidas actualmente en el sistema:</p>
          <h2 class="text-center font-weight-bold ">{{total_partidas}}</h2>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col">
          <h3 class="text-center font-weight-bold">Guía rápida</h3>
        </div>
      </div>

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col">
          <h4 class="font-weight-bold"><i class="fa fa-code"></i>  Acceso</h4>
          <p>Accede ya logeado a tu sección en:</p>
          <p>https://steamcommunity.com/id/&ltTU-PERFIL-ID&gt/gcpd/730/?tab=matchhistorycompetitive</p>
        </div>
      </div>

      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col">
          <h4 class="font-weight-bold"> <i class="fa fa-comment"></i> Nota!</h4>
          <p>Si no activaste tu id de perfil de steam, tendrías que acceder a:</p>
          <p>https://steamcommunity.com/profiles/&ltTU-STEAM-ID&gt/gcpd/730/?tab=matchhistorycompetitive</p>
        </div>
      </div>
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col">
          <h4 class="font-weight-bold"><i class="fa fa-laptop"></i> Uso</h4>
          <p> Usar los botones del plugin para cargar y enviar los datos. Nuestra password pedirla en el telegram.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}