<!DOCTYPE html>
<html>
<head>
    {% block heading %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'imports.html' %}
</head>
<body>

{% include 'navbar.html' %}

{% for message in get_flashed_messages() %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="alert alert-success alert-dismissible">
      <button type="button"
              data-dismiss="alert"
              class="close">&times;</button>
      {{ message }}
    </div>
  </div>
</div>
{% endfor %}

{% block content %}{% endblock %}

<script type="text/javascript" charset="utf8" src="{{url_for('static', filename='vue-logic.js')}}"></script>

</body>
</html>