<!DOCTYPE html>
<html>
<head>
    {% block heading %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="../static/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css">-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.js"></script>-->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CSGO Stats: Dofitos Bastardos!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-csgo" aria-controls="navbar-csgo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbar-csgo">
      <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">General</a></li>
          <li class="nav-item"><a class="nav-link" href="/competitive">Competitives</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a></li>
        <li class="nav-item"><a class="nav-link" href="http://apps.uborzz.es" target="_blank">Wow flask Apps</a></li>
        <li class="nav-item"><a class="nav-link" href="http://uborzz.es" target="_blank">blog: la caja loca</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible">
    <button type="button"
            data-dismiss="alert"
            class="close">&times;</button>
    {{ message }}
  </div>
{% endfor %}

{% block content %}{% endblock %}

<script type="text/javascript" charset="utf8" src="{{url_for('static', filename='vue-logic.js')}}"></script>

</body>
</html>