{% extends 'base.html' %}
{% block heading %}
{{ super() }}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-4 offset-md-4">
            <form method="POST" action="{{ url_for('auth.login') }}">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">Login</h3>
                        {{ login_form.csrf_token }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="username">User:</label>
                    </div>
                    <div class="col-auto">
                        {{ login_form.username }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="password">Pass:</label>
                    </div>
                    <div class="col-auto">
                        {{ login_form.password }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 text-center">
                        <input type="submit" class="btn btn-dark text-center btn-lg" value="Log In">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}